body{
    background-color: pink;
    color: black;

}
#h1{
    font-size: 30px;
    text-align: center;
    color: red;
} 
#hr{
    width: 40%;
    border-bottom: 2px solid black;
}
#container{
    justify-content: center;
    display: flex;
    align-items: center;
}
#task_container{
    width: 60%;
    background-color: pink;

}
#taskform{
    justify-content: center;
    display: flex;
    align-items: center;
}
input[type=text] {
    width: 20%;
    padding: 14px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 20%;
    background-color: #ff0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    cursor: pointer;
  }
  